.menu-section {
  text-align: center;
  padding: 80px 0;
}

.subtitle {
  font-size: 18px;
  color: #f16523;
  margin-bottom: 40px;
}

.menu-grid,
.menu-row {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 40px;
}

.menu-grid {
  flex-wrap: wrap;
}

.menu-item {
  width: 200px;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #c5bfbf;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.menu-item h3 {
  margin-bottom: 10px;
}

.menu-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.menu-btn2 {
  display: inline-block;
  padding: 10px 10px;
  background-color: #f8f9fa;
  color: black;
  text-decoration: none;
  border-radius: 40px;
  font-size: 16px;
  margin-top: 40px;
  border: 1px solid #f16523;
}

.order-btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f16523;
  color: white;
  border-radius: 40px;
  border: none;
}

.ingredients {
  display: none;
}

.ingredients.active {
  display: block;
}

.toggle-arrow {
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  color: #f16523;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  padding: 20px;
  margin: 10% auto;
  width: 50%;
  border-radius: 40px;
  border: 2px solid #f16523;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 40px;
  border: 2px solid #f16523;
}

button[type="submit"] {
  background-color: #f16523;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
}
